<header></header>
<div class="col-xs-10 box">
    <span class="title">Equipments</span>
    <table ng-table="tableParams" show-filter="true" class="table">
        <tbody>
            <tr ng-repeat="connection in $data">
                <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="name">
                    {{connection.auth.username}}
                </td>
                <td data-title="'ip'">
                    {{connection.equipment.name}}
                </td>
                <td data-title="'vendor'">
                    {{connection.connected}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<footer></footer>
