<form role="form" ng-submit="edit()">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" ng-model="user.email" placeholder="Entrez email">
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Entrez mot de passe">
    </div>
    <div class="form-group">
        <label for="nom">Role</label>
        <select class="form-control" ng-model="user.role" required>
            <option ng-repeat="role in roles" ng-value="role.id" ng-selected="user.role.id == role.id">{{role.name}}
            </option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
