
<div class="container row maxH">
    
    <div class="col-xs-10 box">
        <div>
            <h1>Connection</h1>
            <div id="shell">
                <div>
                    <textarea id="output" name="output" ng-model="output" ng-change="scroll()">

                    </textarea>
                </div>
                <form class="form-inline" role="form" ng-submit="sendCmd()">
                    <input id="cmd" name="cmd" ng-model="cmd" placeholder="Entrez votre commande">
                </form>
            </div>
        </div>
    </div>
</div>